* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
}

a {
  color: inherit;
}

/* #region Navigation */
nav {
  top: 0;
  width: 100%;
  position: sticky;
  display: block;
  background-color: #007bce;
}
.container {
  padding: 22px;
  margin: 0 auto;
  text-align: center;
}

.container ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #ffffff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.container ul li a:hover {
  padding: 12px;
  color: #ffcc00
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p {
  margin-bottom: 16px;
  color: #fc0;
  font-weight: 700;
  font-size: 20px;
}
/* #endregion */

/* #region section*/
.item {
  width: 100%;
  padding: 50px;
  height: 280px;
  text-align: center;
  background-color: #ecf0f1;
  border-bottom: 1px solid #cccccc;
}
.first {
  margin-top: 100px;
}
.default {
  margin-top: 64px;
}
.col-full {
  width: 1044px;
}
/* #endregion */